.visit {
  margin-top: calc(var(--u) * 96);
}

.title {
  padding-inline: var(--gutter);
  font-size: calc(var(--u) * 75);
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: nowrap;
}

.titleEnd {
  display: none;
}

.viewer {
  position: relative;
  z-index: 1;
  height: calc(var(--u) * 900);
  margin-top: calc(var(--u) * -41);
  background: var(--color-placeholder);
}

@media (min-width: 768px) {
  .visit {
    position: relative;
    margin-top: calc(var(--u) * 120);
    padding-inline: var(--gutter);
  }

  .title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }

  .titleEnd {
    display: inline;
  }

  .viewer {
    height: calc(var(--u) * 900.1);
    margin-top: 0;
    border-radius: var(--radius);
  }
}
